// Mixins in here
.basic-flex(@direction: row, @justify: flex-start, @align: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.sign-up-btn(@btn-width: 80%, @btn-color: @button-bg) {
    width: @btn-width;
    background-color: @btn-color;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: @main-bg;
    border-radius: 15px;
}